.favorites-container {
  height: calc(100vh - 53px);
  width: 300px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 53px;
  right: 0;
  transform: translateX(100%);
  transition: all 100ms ease-in-out;
}

.favorites-container h3 {
  margin: 0;
}

.favorites-container.active {
  transform: translateX(0);
}
