@import '@style/mixins';

.video-card {
    width: 264px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--base);
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 2px 4px var(--primary);
    }

    &__image {
        width: 264px;
        height: 150px;
        border-radius: 6px 6px 0px 0px;
        background-color: var(--contrast);
        object-fit: cover;
    }

    &__info {
        width: calc(264px - 24px);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 6px;
        padding: 6px 12px 12px;

        border-radius: 0px 0px 6px 6px;
    }

    &__title-column {
        width: calc(264px - 24px - 16px - 6px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--contrast);
    }

    &__title{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__like-icon {
        padding-top: 0.25em;
        color: var(--gray);
    }
}