.cardContainer {
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  max-width: 345px;
  margin: 10px;
}

.cardText {
  padding: 1em;

  p {
    margin-bottom: 0;
  }
}
