.video-card {
  width: 23%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.video-card:hover {
  transform: scale(1.05);
}

.video-card__image {
  width: 100%;
}

.video-card__title {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1;
}

.video-card__description {
  font-size: 12px;
  margin: 5px 0;
}
