@import '@style/variables';
@import '@style/mixins';

.video-card {
    width: 264px;
    height: 216px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $white;
    border-radius: 6px;
    border: 1px solid $light-border;
    cursor: pointer;
    @include drop-shadow;

    &__image {
        width: 264px;
        height: 150px;
        border-radius: 6px 6px 0px 0px;
        background-color: $black;
        object-fit: cover;
    }

    &__info {
        width: calc(100% - 24px);
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 6px;
        max-width: calc(100% - 38px);
        padding: 6px 12px 12px;
    }

    &__title-column {
        width: 100%;
        height: calc(216px - 150px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        max-height: calc(216px - 150px - 24px);
    }

    &__like-icon {
        color: $gray;
    }
}