.video-card {
  width: 100%;
  padding: 10px;
  background-color: var(--color-secondary-50);
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 100ms ease-in;
  display: flex;
  flex-flow: column wrap;
}

.video-card:hover {
  transform: scale(1.05);
}

.video-card-image {
  width: 100%;
}

.video-card-title {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1;
}

.video-card-description {
  font-size: 12px;
  margin: 5px 0;
  width: 100%;
  max-height: 90px;
  display: block;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-card .video-thumbnail,
.video-card .video-info {
  width: 100%;
}

.video-card.related-video {
  width: 48%;
  display: flex;
  flex-flow: column wrap;
}

.related-video .video-thumbnail,
.related-video .video-info {
  width: 100%;
}

.related-video .video-card-title {
  margin-top: 0;
}

@media (min-width: 768px) {
  .video-card {
    width: 23%;
  }

  .video-card.related-video {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  .related-video .video-thumbnail {
    width: 30%;
  }

  .related-video .video-info {
    width: 70%;
    padding-left: 10px;
  }
}
