@import '@style/variables';
@import '@style/mixins';

.video-grid {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
    column-gap: 2vw;
    row-gap: 2vw;
    grid-auto-rows: 216px;

    &__load-more-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}

.video-grid__container {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}