@use '../../styles/mixins';

.header {
  &Switch {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  &SwitchLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 40px;
    height: 20px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color 0.2s;
  }

  &SwitchButton {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }

  &Switch:checked + &SwitchLabel &SwitchButton {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  &SwitchLabel:active &SwitchButton {
    width: 25px;
  }

  &SwitchText {
    margin-left: 0.5em;
    display: none;

    @include mixins.for-tablet-up {
      display: block;
    }
  }
}
