.content {
    padding-top: 40px;
    width: 90%;
    margin: 0 5%;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 3em;
}

.elements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.elements > * {
    margin-right: 50px;
}