@import '@style/mixins';

.layout__content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.layout__content {
    width: 100%;
    padding: 5vw 0px;
    background-color: var(--base);

    &--open {
        width: calc(100% - 250px);
    }
}