.related-container h2 {
  margin-top: 0;
}

.related-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.related-scroll-list {
  height: 300px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .related-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  .related-scroll-list {
    height: calc(100vh - 160px);
  }
}
