.header-container {
  width: 100%;
  background-color: black;
  border-bottom: 1px solid orange;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  /* box-shadow: 0px 4px 6px 0px #000000; */
}

.header-logo {
  font-size: 14px;
  margin-bottom: 10px;
  text-shadow: 0px 0px 3px rgba(255, 165, 0, 1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo span {
  display: block;
  font-size: 26px;
  line-height: 12px;
}

/* .header__menuBtn, */
.search-button,
.login-button,
.favorites-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: auto;
  height: 22px;
  position: relative;
  line-height: 22px;
}

.button-text {
  font-size: 0px;
  visibility: hidden;
  transition: all 100ms ease-in;
}

/* .header__menuBtn:hover  .button-text, */
.login-button:hover .button-text,
.search-button:hover .button-text,
.favorites-button:hover .button-text {
  visibility: visible;
  font-size: 13px;
  margin-left: 5px;
}

/* .header__menuBtn span, */
.login-button span,
.search-button span {
  vertical-align: middle;
}

/*Menu Button*/

/* .header__menuBtn i {
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
}

.header__menuBtn i span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

.header__menuBtn i span:first-child {
    top: 1px;
    bottom: auto;
}

.header__menuBtn i span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.header__menuBtn i span:last-child {
    bottom: 1px;
    top: auto;
}

.header__menuBtn_active i span:nth-child(2) {
    opacity: 0;
}

.header__menuBtn_active i span:first-child {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%) rotate(45deg);
}

.header__menuBtn_active i span:last-child {
    bottom: 50%;
    top: auto;
    transform: translateY(50%) rotate(-45deg);
} */

/*Search Button */

.search-button {
  margin-right: 15px;
}

.search-button i.icon {
  position: relative;
  width: 18px;
  height: 18px;
  display: inline-block;
  line-height: 22px;
  vertical-align: top;
}

.search-button i.icon:before {
  content: '';
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  display: block;
  transition: all 100ms ease-in;
}

.search-button i.icon:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  bottom: -3px;
  left: -3px;
  transform: rotate(-45deg);
  display: block;
  transition: all 100ms ease-in;
}

.search-button:hover i.icon:before {
  border: 3px solid orange;
}

.search-button:hover i.icon:after {
  background-color: orange;
}

/*Login Button */

.login-button i.icon {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  vertical-align: middle;
}

.login-button i.icon:before {
  content: '';
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  border: 3px solid white;
  transition: all 100ms ease-in;
}

.login-button i.icon:after {
  content: '';
  border-radius: 2px;
  background-color: white;
  outline: 3px solid black;
  width: 3px;
  height: 12px;
  display: block;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 100ms ease-in;
}

.login-button:hover i.icon:before {
  border: 3px solid orange;
}

.login-button:hover i.icon:after {
  background-color: orange;
}

/*Favorites*/

.favorites-button {
  margin-right: 15px;
}

.favorites-button i.icon {
  position: relative;
  width: 14px;
  height: 14px;
  display: inline-block;
  line-height: 22px;
  background-color: white;
  vertical-align: top;
  transform: rotate(-45deg);
  margin-top: 5px;
  margin-right: 5px;
  transition: all 100ms ease-in;
}

.favorites-button i.icon:before,
.favorites-button i.icon:after {
  content: '';
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: block;
  background-color: white;
  position: absolute;
  transition: all 100ms ease-in;
}

.favorites-button i.icon:before {
  top: -9px;
}

.favorites-button i.icon:after {
  right: -9px;
}

.favorites-button:hover i.icon,
.favorites-button:hover i.icon:before,
.favorites-button:hover i.icon:after {
  background-color: orange;
}

.header__utilities {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
