.header-container {
  width: 100%;
  background-color: var(--color-secondary);
  border-bottom: 1px solid var(--color-primary);
  height: 55px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
}

.header-logo {
  font-size: 14px;
  margin-bottom: 10px;
  text-shadow: 0 0 3px rgba(255 165 0 100%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo span {
  display: block;
  font-size: 26px;
  line-height: 12px;
}

.search-button,
.login-button,
.favorites-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: auto;
  height: 22px;
  position: relative;
  line-height: 22px;
}

.button-text {
  font-size: 0;
  visibility: hidden;
  transition: all 100ms ease-in;
}

.login-button span,
.search-button span {
  vertical-align: middle;
}

/* Search Button */

.search-button {
  margin-right: 15px;
}

.search-button i.icon {
  position: relative;
  width: 18px;
  height: 18px;
  display: inline-block;
  line-height: 22px;
  vertical-align: top;
}

.search-button i.icon::before {
  content: "";
  border-radius: 50%;
  border: 3px solid var(--color-white);
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  display: block;
  transition: all 100ms ease-in;
}

.search-button i.icon::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 3px;
  background-color: var(--color-white);
  border-radius: 2px;
  bottom: -3px;
  left: -3px;
  transform: rotate(-45deg);
  display: block;
  transition: all 100ms ease-in;
}

/* Login Button */

.login-button i.icon {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  vertical-align: middle;
}

.login-button i.icon::before {
  content: "";
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  border: 3px solid var(--color-white);
  transition: all 100ms ease-in;
}

.login-button i.icon::after {
  content: "";
  border-radius: 2px;
  background-color: var(--color-white);
  outline: 3px solid var(--color-secondary);
  width: 3px;
  height: 12px;
  display: block;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 100ms ease-in;
}

/* Favorites */

.favorites-button {
  margin-right: 15px;
}

.favorites-button i.icon {
  position: relative;
  width: 14px;
  height: 14px;
  display: inline-block;
  line-height: 22px;
  background-color: var(--color-white);
  vertical-align: top;
  transform: rotate(-45deg);
  margin-top: 5px;
  margin-right: 5px;
  transition: all 100ms ease-in;
}

.favorites-button i.icon::before,
.favorites-button i.icon::after {
  content: "";
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: block;
  background-color: var(--color-white);
  position: absolute;
  transition: all 100ms ease-in;
}

.favorites-button i.icon::before {
  top: -9px;
}

.favorites-button i.icon::after {
  right: -9px;
}

.header-utilities {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: absolute;
  right: 15px;
}

.user-utilities {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 10px;
}

.user-utilities img {
  width: 30px;
}

.user-utilities p {
  margin: 0 10px;
}

/* Hover states */

.search-button:hover i.icon::before {
  border: 3px solid var(--color-primary);
}

.search-button:hover i.icon::after {
  background-color: var(--color-primary);
}

.login-button:hover i.icon::before {
  border: 3px solid var(--color-primary);
}

.login-button:hover i.icon::after {
  background-color: var(--color-primary);
}

.favorites-button:hover i.icon,
.favorites-button:hover i.icon::before,
.favorites-button:hover i.icon::after {
  background-color: var(--color-primary);
}

/* Active states */

.login-button.active i.icon::before {
  border: 3px solid greenyellow;
}

.login-button.active i.icon::after {
  background-color: greenyellow;
}

/* Active states */

.light-mode-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.light-mode-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.light-mode-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  transition: 0.4s;
}

.light-mode-slider::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: 0.4s;
}

input:checked + .light-mode-slider {
  background-color: var(--color-primary);
}

input:focus + .light-mode-slider {
  box-shadow: 0 0 1px var(--color-primary);
}

input:checked + .light-mode-slider::before {
  transform: translateX(13px);
}

@media (min-width: 768px) {
  .login-button:hover .button-text,
  .search-button:hover .button-text,
  .favorites-button:hover .button-text {
    visibility: visible;
    font-size: 13px;
    margin-left: 5px;
  }
}
