.header {
  background-color: #1c5476;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1% 1.5%;
  width: 100vw;

  &BtnNav {
    border: none;
    background: transparent;
    margin-right: 2em;
    padding: 0;
  }

  section {
    display: flex;
    align-items: center;
  }
}
