@import '@style/mixins';

.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 6px 24px;
    width: auto;
    height: 60px;
    background-color: var(--primary);
    color: var(--base);
    z-index: 5;
    @include drop-shadow;
}

.header__search-bar-container {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.header__search-bar {
    flex-grow: 0;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.header__search-bar--grow {
    flex-grow: 1;
}

.header__icon_button {
    color: var(--white);
}