
html {
  --black: #0c0a0a;
  --white: #fff;
  --base: #fff;
  --contrast: #0c0a0a;
  --light-contrast: #36363634;
  --primary: #e93d44;
  --light-primary: #e93d4334;
  --border: #00000083;
  --light-border: #0000002a;
  --light-gray: #d3d3d4;
  --strong-gray: #222529;
  --gray: #4e5154;
  --light-base: rgb(255 255 255 / 30%);

  .--dark-mode {
    --base: #0c0a0a;
    --contrast: #fff;
    --light-contrast: #afafaf34;
    --primary: #e93d44;
    --light-primary: #e40f1649;
    --border: #96969683;
    --light-border: #0000002a;
    --light-gray: #d3d3d4;
    --strong-gray: #ececec;
    --gray: #c4c4c4;
    --light-base: rgba(150, 150, 150, 0.3);
  }

  background-color: --base;
  font-family: Lato, Dosis, sans-serif;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  font-family: Lato, sans-serif;
  font-weight: bolder;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-family: Lato, sans-serif;
  font-weight: bolder;
  margin: 0;
}

h3 {
  font-size: 1.5em;
  font-family: Dosis, sans-serif;
  font-weight: bolder;
  margin: 0;
}

h4 {
  font-size: 1rem;
  font-family: Dosis, sans-serif;
  font-weight: bolder;
  margin: 0;
}

h5 {
  font-size: 0.8rem;
  font-family: Dosis, sans-serif;
  font-weight: bolder;
  margin: 0;
}

p {
  font-size: 1rem;
  font-family: Dosis, sans-serif;
  margin: 0;
}

small {
  font-size: 0.8rem;
  font-family: Dosis, sans-serif;
  margin: 0;
}

label {
  font-size: 0.8rem;
  font-family: Lato, sans-serif;
  font-weight: bold;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}
