@import '@style/variables';
@import '@style/mixins';

.sidebar {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px 0px;
    left: 0px;
    top: 0px;
    width: 0px;
    height: calc(100vh - 72px);
    background-color: $white;
    box-sizing: border-box;
    border-right: 1px solid $light-border;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px;
}

.sidebar--open {
    visibility: visible;
    width: 250px;
}

.sidebar__tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    width: 226px;
    height: 48px;
    color: $primary;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;

    &:hover {
        background-color: $primary;
        color: $white;
    }
}

.sidebar__tab--selected {
    background-color: $primary;
    color: $white;
}

.sidebar__link {
    width: 250px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        background-color: $primary;
        color: $white;
    }
}

.sidebar__user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 250px;
    height: auto;
    padding: 12px 0px;
    white-space: nowrap;
}

.sidebar__avatar-image {
    border-radius: 50%;
    width: 72px;
    height: 72px;
    object-fit: cover;
}

.sidebar__close-button {
    color: $gray;
}

.sidebar__close-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}