.search-container {
  width: 100%;
  background-color: var(--color-secondary-50);
  position: absolute;
  top: 55px;
  left: 0;
  text-align: center;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 100ms ease-in-out;
}

.search-container input {
  max-width: 980px;
  width: calc(100% - 50px);
  display: inline-block;
  text-align: center;
  font-size: 24px;
  color: rgba(0 0 0 / 80%);
  margin: 10px;
}

.search-container.active {
  height: 54px;
  visibility: visible;
}

.search-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
}

.send-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: relative;
  line-height: 22px;
  font-size: 0;
  width: 0;
  height: 0;
  border-left: 22px solid var(--color-white);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}

.search-close-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .search-container input {
    width: 100%;
  }

  .search-form {
    width: 100%;
  }
}
