
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(109, 74, 74, 0.2);
  padding: 14px 16px;
  transition: height 3s;
}

.navbar-text {
  color: #f2f2f2;
  padding: 8px 16px 8px 0;
}

.navbar-text i {
  padding-right: 8px;
}

.navbar-subtitle-button {
  color: white;
  padding: 0px;
}

.topnav a:hover{
  color: white;
  border-radius: 50px;
}

.navbar-toggle-menu {
  display: none;
  color: white;
  width: 28px;
  height: 28px;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .navbar-toggle-menu {
    display: block;
  }

  .topnav, .navbar {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
}

/*Slider*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: rgb(64, 81, 132);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}